body {
    background-image: url(images/nnnnn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    width: 100%;
    padding-left: 150px;
}


.container {
    padding-top: 20px;
}

.btn {
    background-color: #353434;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 150px;
}

.btn:hover {
    background-color: #454545;
}

.card {

    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: auto;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;

}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-left: 50px;
}

.card h2 {
    color: aliceblue;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.card p {
    font-size: 0.9rem;
    color: #777777;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}